//- Builds the chess board
mixin buildChessBoard(chessBoardId)
    div(id=chessBoardId)
        -for (var i = 1; i <= 8; i++)
            +buildRow(i)
        
        +buildColumnNumbers
        
mixin buildColumnNumbers        
    div(class='row')   
        div(class='col-md-12')
            div(class='rowNumber')
            -for (var i = 1; i <= 8; i++)
                +buildColumnNumber(i)

mixin buildRow(rowNumber)    
    if(rowNumber % 2 === 0)
        +buildRowColumns(rowNumber, 'cell-white','cell-black')
    else
        +buildRowColumns(rowNumber, 'cell-black','cell-white')

mixin buildRowColumns(rowNumber, classForEvenColumnNumbers, classForOddColumnNumbers)                
    div(class='row')   
        div(class='col-md-12')
            +buildRowNumber(rowNumber)

            -for (var i = 1; i <= 8; i++)                
                - var cellId = chessBoard.getCellId(rowNumber,i)

                if(i % 2 === 0)
                    div(id=cellId,class=classForEvenColumnNumbers)
                else
                    div(id=cellId,class=classForOddColumnNumbers)                        

mixin buildRowNumber(rowNumber)
    div(class='rowNumber') 
        | #{chessBoard.getDisplayRowNumber(rowNumber)}

mixin buildColumnNumber(columnNumber)
    div(class='columnNumber') 
        | #{chessBoard.getDisplayColumnNumber(columnNumber)}

        
    