html
    head
        title #{pageTitle} 
        link(
            rel="stylesheet", 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", 
            crossorigin="anonymous")
        link(
            rel="stylesheet", 
            href="css/style.css")

        script(
			  src="https://code.jquery.com/jquery-3.1.1.js",
			  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=",
			  crossorigin="anonymous")

        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        
    body 
        div(class='container app')
            div(class='row PageTitle')
                h2 #{pageTitle}
            div(class='row pageNameArea')                
                div(class='col-md-12')
                    h3 #{pageName}                
            div(class='row')
                div(class='col-md-3')
                    ul(class='Navigation')
                        li 
                            a(href='ChessBoard.html') Schachbrett
                        li
                            a(href='Chessgame.html') Schachspiel
                        li
                            a(href='KnightProblem.html') Schach Springer Problem                            
                        li
                            a(href='Description.html') Beschreibung
                        li
                            a(href='JsTests.html') Javascript Tests                            
                div(class='col-md-9 MainContent')                    
                    block childMainContent
            div(id='FooterDiv' class='row Footer')
                p Der Code dieser Anwendung ist in dieser #[a(href='https://github.com/stanel/frontend-nanodegree-resume') Github Repository]